/* For testing purposes uncomment this */
// body{
// background-color: rgb(115, 255, 0);
// }


  a {
    color: black;
    text-decoration: none;
    font-weight: 600;
  }

  a:hover {
    color: black;
    text-decoration: underline;
  }

  .breadcrumb-items.active {
    color: red;
    text-decoration: none;
  }

  .breadcrumb-items.active::before {
    content: " > ";
    color: black;
  }

  .breadcrumb-items:hover {
    color: red;
    text-decoration: underline;
  }